/* Document */

html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: Helvetica, sans-serif;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
}

/* Header with Nav Bar */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid seashell;
  height: 69px;
  padding: 0 10px;
  background-color: black;
  position: fixed;
  top: 0;
  width: 100%;
}

#logo_image {
  height: 50px;
}

nav a {
  color: seashell;
  padding-right: 20px;
}

/* Landing Page Greeting */

#mission {
  display: flex;
  align-items: center;
  background-image: url("../images/img-mission-background.jpg");
  height: 700px;
  width: 1200px;
  margin: 69px auto 0 auto;
}

#mission_headlines {
  background-color: black;
  width: 100%;
}

/* Featured Products */

#month_featured {
  width: 1000px;
  margin: 0 auto;
}

#featured_images {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.tea_spotlight img {
  height: 200px;
  width: 300px;
  margin: 0 10px;
}

/* Locations */

#locations {
  height: 500px;
  width: 1200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url("../images/img-locations-background.jpg");
  margin: 0 auto;
}

#locations h2 {
  margin-bottom: 15px;
}

#location_boxes {
  display: flex;
  justify-content: center;
}

.address {
  width: 300px;
  background-color: black;
  opacity: 1;
  margin: 0 20px;
}

/* Footer*/

#contact_info{
  height: 200px;
}

#copyright {
  text-align: left;
  margin-left: 20px;
}
